.ag-center-cols-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.ag-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ag-row.selected {
    background-color: lightblue;
}

.ag-row-even {
    background-color: #f9f9f9;
}

.ag-cell {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ag-cell-value {
    display: flex;
    align-items: center;
}

.ag-cell[col-id="outcome"],
.ag-cell[col-id="cushion"],
.ag-cell[col-id="numerator"],
.ag-cell[col-id="denominator"] {
    text-align: right;
}
button {
    display: block;
    position: absolute;
    bottom: 0;
}
